<ion-card *ngIf="researchRes && isCurrent">
  <ion-grid class="current">
  
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <ion-col size="5">
        <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <ion-avatar>
              <img src="http://openweathermap.org/img/wn/{{researchRes.forecast.wea.icon}}@2x.png">
            </ion-avatar>
          </ion-col>
          <ion-col size="6">
            <p class="ion-text-nowrap">
              {{researchRes.forecast.temp.temp}} {{tempIndex}}
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
  
      <ion-col size="5" class="ion-margin-end">
        <ion-row class="ion-justify-content-end ion-wrap">
          <ion-col class="ion-no-padding" size="12">
            <h2 class="ion-no-margin ion-text-right ">{{researchRes.city.name}}</h2>
          </ion-col>
          <ion-col class="ion-no-padding" size="12">
            <p class="ion-no-margin ion-text-right ">{{researchRes.forecast.wea.description}}</p>
          </ion-col>
        </ion-row>
      </ion-col>  
    </ion-row>
    
    <ion-row class="ion-justify-content-around">
      <ion-col>
        <ion-row class="ion-justify-content-center ion-wrap">
          <ion-col class="ion-no-padding" size="12">
            <h3 class="ion-no-margin ion-text-center ion-text-nowrap">Temp max</h3>
          </ion-col>
          <ion-col class="ion-no-padding" size="12">
            <p class="ion-no-margin ion-text-center ion-text-nowrap">{{researchRes.forecast.temp.temp_max}}</p>
          </ion-col>
        </ion-row>
      </ion-col>
  
      <ion-col>
        <ion-row class="ion-justify-content-center ion-wrap">
          <ion-col class="ion-no-padding" size="12">
            <h3 class="ion-no-margin ion-text-center ion-text-nowrap">Temp min</h3>
          </ion-col>
          <ion-col class="ion-no-padding" size="12">
            <p class="ion-no-margin ion-text-center ion-text-nowrap">{{researchRes.forecast.temp.temp_min}}</p>
          </ion-col>
        </ion-row>
      </ion-col>
  
      <ion-col>
        <ion-row class="ion-justify-content-center ion-wrap">
          <ion-col class="ion-no-padding" size="12">
            <h3 class="ion-no-margin ion-text-center ion-text-nowrap">Humidity</h3>
          </ion-col>
          <ion-col class="ion-no-padding">
            <p class="ion-no-margin ion-text-center ion-text-nowrap">{{researchRes.forecast.temp.humidity}}</p>
          </ion-col>
        </ion-row>
      </ion-col>
  
      <ion-col>
        <ion-row class="ion-justify-content-center ion-wrap">
          <ion-col class="ion-no-padding" size="12">
            <h3 class="ion-no-margin ion-text-center ion-text-nowrap">Wind</h3>
          </ion-col>
          <ion-col class="ion-no-padding">
            <p class="ion-no-margin ion-text-center ion-text-nowrap">{{researchRes.forecast.wind.speed}}</p>
          </ion-col>
        </ion-row>
      </ion-col>
  
    </ion-row>
  </ion-grid>
</ion-card>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-input [(ngModel)]="value" name="value" placeholder="{{placeholderInfo}}"></ion-input>
    </ion-row>
    <ion-row  *ngIf="searchChoice === 'coordinates'">
      <ion-input type="text" [(ngModel)]="lat" name="lat" placeholder="Latitude" required></ion-input>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <form>
      <ion-row>
        <ion-col>
          <ion-list>
          <ion-item>
              <ion-select placeholder="Choose" [(ngModel)]="isCurrent" name="isCurrent" interface="popover">
                <ion-select-option [value]="true">Currently</ion-select-option>
                <ion-select-option [value]="false">Next days</ion-select-option>
              </ion-select>
          </ion-item>
        </ion-list>
        </ion-col>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-select placeholder="Choose"[(ngModel)]="searchChoice" name="searchChoice" interface="popover">
                <ion-select-option value="city">City</ion-select-option>
                <ion-select-option value="cityId">City ID</ion-select-option>
                <ion-select-option value="coordinates">Coordinates</ion-select-option>
                <ion-select-option value="zipcode">Zip Code</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </form>
    <ion-button type="submit" color="danger" expand="block" (click)="caller()">Search</ion-button>
  </ion-grid>
</ion-content>


<div *ngIf="researchRes && isCurrent === false">
    <ng-container *ngIf="tab">
      <ion-list class="forecast">
        <ion-item>
          <ion-avatar slot="start"></ion-avatar>
          <ion-label><h3>Time</h3></ion-label>
          <ion-label><h3>Description</h3></ion-label>
          <ion-label><h3>Temp {{tempIndex}}</h3></ion-label>
          <ion-label><h3>Wind</h3></ion-label>
        </ion-item>

        <ion-item *ngFor="let item of mappedForecast[tab]">
          
          <ion-avatar slot="start">
            <img src="http://openweathermap.org/img/wn/{{item.wea.icon}}@2x.png">
          </ion-avatar>
          
          <ion-label>
            <h2>{{item.time | date: 'hh:mm'}}</h2>
          </ion-label>

          <ion-label>
            <h2>{{item.wea.main}}</h2>
          </ion-label>

          <ion-label>
            <h2>{{item.temp.temp}}</h2>
          </ion-label>

          <ion-label>
            <h2>{{item.wind.speed}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button *ngFor="let key of grouppedForecast" (click)="changeTab(key)">
        <ion-label>{{key | date:'dd/M'}}</ion-label>
        <ion-icon name="sunny-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button (click)="changeTab(null)">
        <ion-label>Reset</ion-label>
        <ion-icon name="search"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div>
