h3{
    font-size: 12px;
}
ion-segment-button{
    ion-img{
        width: 50px;
        max-width: 50px;
    }
    ion-label{
        margin-bottom: 0px;
    }
}

.slide{
    max-width: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.slider-element{
    text-align:center;
}

.forecast-slide-icon{
    max-width: 70px;
}

.current{
    width: 100%;
}